
html {
    position: relative;
}

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(255, 236, 208);
    width: 1700px;
    height: 130px;
    align-items: center;
}

#header-sign-in {
    margin-right: 100px;
}

#header-sign-in a {
    height: 0px;
    text-decoration: none;
    color: black;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

#logo-and-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    margin-left: 20px;
}

#logo-and-nav nav {
    display: grid;
    width: 600px;
    height: 100%;
    margin-right: 40px;
}

#logo-and-nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

#logo-and-nav li {
    height: 100%;
    display: flex;
    text-align: center;
    font-size: 18px;
}

#logo-and-nav a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
}

main{
    padding: 0;
    margin: 0;
    position: relative;
    justify-content: center;
    align-items: center;
}

.slider {
    overflow: hidden;
    height: 700px;
    width: 1700px;
    margin: 0 0;
}

/*-----SLIDE ANIMATION-------*/

@-webkit-keyframes slide_animation{
    0%    {left: 0px;}
    16.6%  {left: 1700px;}
    33.3% {left: 3400px;}
    50%     {left: 5100px;}
    66.6% {left: 3400px;}
    83.3%  {left: 1700px;}
    100%    {left: 0px;}
}

.slide {
    width: 6800px;
    height: 700px;
    margin: 0 0 0 -5100px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 16s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container {
    height: 700px;
    width: 1700px;
    position: relative;
    float: left;
}

.slide input {
    padding: 0;
    margin: 0;
    display: none;
}

.banner-itme {
    padding: 0;
    margin: 0;
    width: 100%;
    transition: 2s; 
}

.banner-itme img {
    padding: 0;
    margin: 0;
    width: 1700px;
    height: 700px;  
}

.nav-m{
    padding: 0;
    margin: 0;
    position: absolute;
    width: 1700px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}
.m-btn{
    border: 2px solid rgb(255, 196, 35);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child){
    margin-right: 15px;
}

.m-btn:hover{
    background-color: rgb(180, 132, 0);
}

#radio1:checked ~.first{
    margin-left: 0;
}

#radio2:checked ~.first{
    margin-left: -100%;
}

#radio3:checked ~.first{
    margin-left: -200%;
}


