
html {
    position: relative;
}

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #ddd9ff;
    width: 1700px;
    height: 145px;
    background-position: center;

  margin-right: auto;
  margin-left: auto;
}

#header-sign-in {
    margin-right: 100px;
    top: 0px;
    display: flex;
    justify-content: right;
}

#header-sign-in a {
    height: 0px;
    text-decoration: none;
    color: black;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

#logo-and-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    margin-left: 20px;
    margin-bottom: 20px;
}

#logo-and-nav nav {
    display: grid;
    width: 600px;
    height: 100%;
    margin-right: 40px;
}

#logo-and-nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

#logo-and-nav li {
    height: 100%;
    display: flex;
    text-align: center;
    font-size: 18px;
}

#logo-and-nav a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
}

/* 메인 비주얼 부문 */

main{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul, li {
    list-style: none;
}

[name="slide"] {
    display: none;
}

.slidebox {max-width: 1700PX;
    width: 100%;
    margin: 0 auto;
}
.slidebox img {
    max-width: 100%;
}

.slidebox .slidelist {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

.slidebox .slideitem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all ,2s;
}

.slidebox .slideitem label {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

label.left {
    left: 20px;
    background-color: #ddd9ff6c;
    background-image: url(/Publishing/resources/img/left.png);
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
}

label.right {
    right: 20px;
    background-color: #ddd9ff6c;
    background-image: url(/Publishing/resources/img/right.png);
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
}

[id="slide1"]:checked ~ .slidelist .slideitem {transform: translateX(0); animation: slide1 16s infinite;}
[id="slide2"]:checked ~ .slidelist .slideitem {transform: translateX(-100%); animation: slide2 16s infinite;}
[id="slide3"]:checked ~ .slidelist .slideitem {transform: translateX(-200%); animation: slide3 16s infinite;}
[id="slide4"]:checked ~ .slidelist .slideitem {transform: translateX(-300%); animation: slide4 16s infinite;}

@keyframes slide1 {
    0%    {left: 0%;}
    16.6%  {left: -100%;}
    33.3% {left: -200%;}
    50%    {left: -300%;}
    66.6% {left: -200%;}
    83.3%  {left: -100%;}
    100%    {left: 0%;}
}

@keyframes slide2 {
    0%    {left: 0%;}
    16.6%  {left: -100%;}
    33.3% {left: -200%;}
    50%     {left: -100%;}
    66.6% {left: 0%;}
    83.3%  {left: 100%;}
    100%    {left: 0%;}
}

@keyframes slide3 {
    0%    {left: 0%;}
    16.6%  {left: -100%;}
    33.3% {left: 0%;}
    50%     {left: 100%;}
    66.6% {left: 200%;}
    83.3%  {left: 100%;}
    100%    {left: 0%;}
}

@keyframes slide4 {
    0%    {left: 0%;}
    16.6%  {left: 100%;}
    33.3% {left: 200%;}
    50%     {left: 300%;}
    66.6% {left: 200%;}
    83.3%  {left: 100%;}
    100%    {left: 0%;}
}

/* 메인 집들이 부문 */

#house {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}